@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

   
.sComments{
    margin-top: 4rem;
    max-width: 900px;
    margin: auto;
    

    h3{
        padding: 0 2rem;
        text-transform: uppercase;
    }

    p{
        text-transform: capitalize;
        margin: 1.5rem 3rem;
    }
    
    span:nth-child(1){
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 1.5rem;
        display: block;
    }
    span:nth-child(2){
        color: grey;
        font-size: 16px;
        display: block;
    }
    span:nth-child(3){
        padding-top: 1rem;
        font-size: 20px;
        display: block;
    }
}
    


@media only screen and (min-width: 600px){
    .mainbody{
        h1{
            margin-top: 4rem;
        font-size: 40px;
    }
    .main{
        padding: 0 1rem;
        .ph2{
            font-size: 25px;
        }
        
    }

    .wComment{
        form{label[for='name'], label[for='email']{
        top: 43%;
        left: 2%;
      }
      label[for='comment']{
        bottom:15%;
        left: 2%;
      }
      .name:focus ~ .nameT,.name:not(:placeholder-shown).name:not(:focus) ~ .nameT,
      .email:focus ~ .emailT,.email:not(:placeholder-shown).email:not(:focus) ~ .emailT
      {
        top: 8%;
        left: 2%;
      }
    }}
}
}

@media only screen and (min-width: 870px){
   .mainbody{ .main{
    padding: 0 2rem;
        img{
            height: 300px;
        }
    }}
}






/* this is for the blog page : update*/

.blog{
    margin-top: 4.1rem;
    padding-bottom: 0.5rem;
    background-color: #E2E2E2;
    .mainImgCont{
        width: 100%;
        height: 30vh;
        margin-bottom: 0.5rem;
        span{
            width: 100% !important;
            height: 100% !important;
            img{
                object-fit: cover;
            }
        }
    }
}


.sectionui{
    background-color: #fff;
    margin:0 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000f0815;
    h2{
        text-transform: capitalize;
    }
}

.wComment{
    max-width: 600px;
    margin: auto;
    form{
        display: flex;
        flex-direction: column;

    div{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    input:nth-child(1),
    input:nth-child(2),
    input:nth-child(3),textarea {
      resize: none;
      font-size: 17px;
      padding: 0.8rem 1.5rem ;
      margin: 1rem 0;
      border-radius: 15px;
      border: 0.1px solid #bdbdbd;
      background-color: rgb(229, 247, 238);
      transition: 0.2s ease-in;
      
    }
    label {
        font-weight: bold;
      text-transform: uppercase;
      font-size: 1rem;
      position: absolute;
      transition: .3s ease-in-out;
    }

    label[for='name'], label[for='email']{
      top: 44.5%;
      left: 5%;
    }
    label[for='comment']{
      bottom:15%;
      left: 5%;
    }
    .name:focus ~ .nameT,.name:not(:placeholder-shown).name:not(:focus) ~ .nameT,
    .email:focus ~ .emailT,.email:not(:placeholder-shown).email:not(:focus) ~ .emailT
    {
      top: 8%;
      left: 6%;
      font-size: 0.6rem;
    }
    .comment:focus ~ .commentT,.comment:not(:placeholder-shown).comment:not(:focus) ~ .commentT{
            top: 2%;
            font-size: 0.6rem;
          }
          input[type="submit"] {
              max-width: 40%;
            border: none;
            padding: 0.7rem 0;
            font-weight: bolder;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            color: #252c2f;
            background: #f5c500;
            transition: 0.5s ease-in-out;
          }
          input[type="submit"]:hover {
            background: #252c2f;
            color: #f5c500;
            border: none;
          }
          input:hover,
textarea:hover {
border: 0.2px solid#00ca9e;
}

input:focus,
textarea:focus {
outline: none;
border: 0.2px solid violet;
}}
.onsub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
    background: #f5c500;
    padding: 7rem 0.25rem ;
    border-radius: 20px;
    clip-path: circle(3.3% at 0 100%);
    animation: anim 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    h2{
      font-size: 17px;
      text-transform: uppercase;
      color: #000f08;
    }
    p{
      font-size: 16px;
      margin-top: 0.7rem;
      color: #232524c7;
    }}
}
@keyframes anim {
    to{
      clip-path: circle(141.4% at 0 100%);
    }
  }






 

  /*This is for the blog content*/

  .index{
    li{
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
    }
  }
  .reference{
    a{
        font-size: 20px;
    }
  }
  .mainBody {
    *{
        font-family: 'Nunito Sans', sans-serif !important;
    }
    
    h1{
        font-size: 30px;
        text-align: center;
        text-transform: capitalize;
        padding: 1rem;
        color: #f34213;
    }
    .upldInfoCont{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
        
    }
    
    
    img{
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        margin: 2rem auto;
        text-align: center;
    }
    h2{
        text-transform: capitalize;
        font-size: 24px;
        margin: 1rem 0;
        text-decoration: underline;
        
    }
    h3{
        text-transform: capitalize;
        font-size: 22px;
        margin: 1rem 0;
        text-decoration: underline;
    }
    h4{
        font-size: 20px;
    }
    p{
        font-size: 20px;
        margin: 1rem 0;
        line-height: 32px;
    }
    a{
        color: rgb(36, 88, 167);
    }
    li{
        margin: 1rem 2rem;
        line-height: 32px;
        font-size: 18px;
    }
    em{
        text-decoration: underline;
        
    }
    blockquote::before {
        content: open-quote;
        font-size: 55px;
    }
    blockquote::after {
        content: close-quote;
        font-size: 55px;
        position: relative;
        top: 10px;
      }
    blockquote{
        padding-top: 1rem;
        font-size: 20px;
        line-height: 32px;
        font-style: italic;
        quotes: "“" "”" "‘" "’";
    }
}
.h2Rel{
    margin: 1rem;

}
  
  /*This is for the blog content*/

  @media only screen and (min-width: 552px){
    .inBlogTag{
        justify-content: flex-end;       
    }
  }
  @media only screen and (min-width: 700px){
    .mainBody .sectionui{
        padding: 1rem;
    }
  }
  @media only screen and (min-width: 900px){
    .indexCont{
        float: left;
        width: 250px;
    }
    .mainBody{
        width: 100%;
    }
    .mainAndAds{
        display: flex;
        .ads{
            width: 250px;
        }
    }
  }

/* this is for the blog page*/