.posts{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(275px,1fr));
    padding: 1rem;
}

.blogs{
    min-height: 80vh;
    padding-top: 4rem;
    padding-bottom: 1rem;
    background-color: #f1f1f1;
    h1{
        text-transform: capitalize;
        margin-top: 2rem;
        text-align: center;
        padding: 0 1rem;
        padding-bottom: 16px;
    }
}

.blogCard{
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0px 0px 6px #00000033;
    padding: 0.5rem;
    position: relative;
    cursor: pointer;
    height: 450px;

    
    hr{
        margin-top: 1rem;
        color: #000;
    }
    &:hover{
        .cardMainImg{
            img{
                transform: scale(1.1);
            }
        }
    }
    .cardMainImg{
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        box-shadow: 0px 0px 6px #00000033;
        img{
            object-fit: cover;
            transition: 0.1s ease-in-out;
            
        }
    }
    .cardcont{
        h3{
            color: #000;
            text-transform: capitalize;
            font-size: 21px;
            margin-bottom: 0.5rem;
            line-height: 1.5rem;
        }
        .desc{
            color: #515151;
            line-height: 1.2rem;
            padding-bottom: 6rem;
        }
        

    }
    .bottomSec{
        position: absolute;
        bottom: 0.5rem;
        width: 95%;
    }
    
    button{
        text-transform: capitalize;
        background-color: transparent;
        border: none;
        font-weight: 500;
        font-size: 16px;
        width: 100%;
        text-align: center;
        margin-top: 0.5rem;
    }

}

.tagsCont{
    display: flex;
}
.tags{
    padding:0.3rem 1rem;
    border-radius: 35px;
    margin: 0.5rem 0.5rem 1rem 0;
    text-transform: capitalize;
    box-shadow: 0px 0px 10px #00000033;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.langTag{
    background: linear-gradient(to right, #6274E7,#8752A3);
   
}
.catTag{
    background: linear-gradient(to right, #AD4689,#ED5C86);

}

@media only screen and (min-width: 571px){
    .posts{
        padding: 0;
        padding-left: 1rem;
    }
    .blogCard{
        margin: 0 1rem 1.5rem 0;
    }
}