/* this is for the navbar */
.hamIcon {
  position: fixed;
  z-index: 1999;
  right: 0;
}

.arrow {
  height: 2px;
  width: 2px;
  border: solid black;
  border-width: 0 3px 3px 0;
  border-radius: 1px;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
.arrow:hover {
  border-color: #F34213;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 2px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.navbar .leftNav {
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.navbar img {
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
.navbar .rightNav {
  display: none;
  grid-template-columns: 25% 25% 25% 25%;
  width: 25%;
  padding-right: 1rem;
}
.navbar .rightNav a {
  color: #000F08;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.navbar .rightNav a:hover {
  color: #F34213;
}
.navbar .dropdown {
  position: relative;
  display: inline-block;
}
.navbar .dropdown a {
  text-decoration: none;
  color: inherit;
}
.navbar .dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  border-radius: 25px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1000;
}
.navbar .dropdown:hover .dropdowncontent {
  display: flex;
  flex-direction: column;
}
.navbar .dropdowncontent a {
  color: black;
  padding: 12px 16px;
  display: block;
}
.navbar .dropdowncontent a:hover {
  background-color: #f1f1f1;
}

/* design for the hamburger menu goes here*/
.hamIcon {
  width: 25px;
  height: 30px;
  margin: 0 0.6rem 0 0;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  position: fixed;
  margin: 0 0.5rem;
  top: 25px;
}

.hamIcon:checked::after {
  width: 100%;
  transform: rotate(-45deg) translate(3px, -7px);
}

.hamIcon:checked::before {
  transform: rotate(45deg) translate(-2px, 3px);
}

.hamIcon::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000F08;
  border-radius: 35px;
  transition: all 0.5s;
}

.hamIcon::before {
  content: "";
  display: block;
  width: 100%;
  margin: 0.2rem 0;
  height: 3px;
  background-color: #000F08;
  border-radius: 35px;
  transition: all 0.5s;
}

.hamburgerMenu {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1764705882);
  position: fixed;
  z-index: 999;
  top: 0;
  max-width: 375px;
  height: 100vh;
  width: 100%;
  background-color: white;
  animation: hamOpen 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburgerMenu ul:nth-child(1) {
  padding-top: 2.5rem;
}
.hamburgerMenu .lowerHam {
  position: absolute;
  width: 100%;
  bottom: 1rem;
}
.hamburgerMenu li {
  padding: 0 1rem;
  margin-top: 1rem;
}
.hamburgerMenu li a, .hamburgerMenu li .hamDrop {
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.0901960784);
  display: block;
  color: #000F08;
}
.hamburgerMenu .hamDrop {
  display: flex !important;
  justify-content: space-between;
}
.hamburgerMenu .hamDrop input {
  display: none;
}
.hamburgerMenu .hamDrop a {
  padding: 0;
  background-color: transparent;
}
.hamburgerMenu .hamDrop .arrow {
  transform: rotate(-45deg);
}

@keyframes hamOpen {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes hamOpendelay {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .hamIcon {
    display: none;
  }
  .rightNav {
    display: grid !important;
  }
}
@media only screen and (max-width: 1100px) {
  .rightNav {
    width: 42% !important;
  }
}
/* this is for the navbar */
.footer {
  background-color: #515151;
}
.footer .container {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  display: grid;
  text-align: center;
  padding: 5px 0;
  line-height: 1.3rem;
  padding: 1.5rem;
  max-width: 1150px;
  margin: auto;
}
.footer .container a {
  color: white;
}
@media only screen and (min-width: 600px) {
  .footer .container {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    max-width: 1150px;
    margin: auto;
    font-size: 0.8rem;
  }
}

/* t and c page*/
.basicInfoPage {
  max-width: 1080px;
  font-size: 16px;
  margin: 1rem auto;
  line-height: 32px;
}
.basicInfoPage h2 {
  margin: 1.5rem 0;
  color: #F34213;
}
.basicInfoPage h1 {
  margin: 1rem 0;
  color: #F34213;
}
.basicInfoPage li {
  margin-left: 1rem;
}

/*this is for the author info component*/
.authorInfo {
  display: flex;
  align-items: center;
}
.authorInfo img {
  border-radius: 50%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.authorInfo div {
  margin: 0 0 0 1rem;
}
.authorInfo div h4 {
  font-size: 16px;
  text-transform: capitalize;
}
.authorInfo div p {
  color: #515151;
  margin-top: 0.2rem;
  text-transform: capitalize;
}

/*this is for the author info component*//*# sourceMappingURL=Comp.module.css.map */