.hero {
  max-width: 1150px;
  margin: auto;
  text-align: center;
  margin-top: 2.5em;
  padding: 0 1em;
}
.hero .container {
  display: flex;
  flex-direction: column;
}
.hero .left p:nth-child(1) {
  text-transform: uppercase;
  color: #8d8d8d;
  font-size: 10px;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
}
.hero .left h1 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 0.5rem;
}
.hero .left h1 span {
  color: #f34213;
  font-weight: bolder;
}
.hero .left p:nth-child(3) {
  font-size: 10px;
  color: #8d8d8d;
  margin-bottom: 8em;
}
.hero .left .content {
  margin-bottom: 3rem;
}
.hero .left a {
  font-size: 10px;
  font-weight: bold;
  background: #15141d;
  color: #efefef;
  border-radius: 2rem;
  padding: 1.5rem 1.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
  -webkit-animation: anim 2s infinite;
          animation: anim 2s infinite;
}
@-webkit-keyframes anim {}
@keyframes anim {}
.hero .left a:hover {
  background: #ff8c00;
  color: #15141d;
  letter-spacing: 2px;
}
.hero .right {
  margin-bottom: 2rem;
}
.hero .right img {
  display: none;
  visibility: hidden;
}
.hero .right .list {
  z-index: 100;
  box-shadow: 0 0 2px;
  max-width: 59vw;
  margin: auto;
  text-align: left;
  background: #4778ff;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 7px rgba(53, 53, 53, 0.603);
  color: white;
}
.hero .right .list .listitems {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
}
.hero .right .list hr {
  margin: auto;
  max-width: 7rem;
  text-align: center;
}
.hero .right .list p {
  padding: 0.5rem 0;
}

.section1 {
  text-align: center;
  background: #3e2f5b;
  -webkit-clip-path: polygon(63% 0, 100% 7%, 100% 100%, 0% 100%, 0 3%, 30% 8%);
          clip-path: polygon(63% 0, 100% 7%, 100% 100%, 0% 100%, 0 3%, 30% 8%);
}
.section1 .sec1cont {
  max-width: 1150px;
  margin: auto;
  padding: 0 1em;
}
.section1 .sec1cont h1 {
  font-size: 28px;
  padding-top: 9rem;
  text-transform: uppercase;
  color: #efefef;
}
.section1 .sec1cont hr:nth-child(2) {
  width: 120px;
  margin: auto;
}
.section1 .sec1cont .perkscont {
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  margin: auto;
  padding: 2rem 0;
}
.section1 .sec1cont .perkscont .perks {
  padding: 4rem 2rem;
  margin: 1rem 0;
  border-radius: 40px;
  box-shadow: 1px 1px 10px #131313;
  color: #3e2f5b;
  background: #efefef;
}
.section1 .sec1cont .perkscont .perks h4 {
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 0 0.5rem 0;
  transition: all 0.3s ease-in-out;
}
.section1 .sec1cont .perkscont .perks hr {
  width: 50px;
  margin: auto;
  margin-bottom: 1.5rem;
}
.section1 .sec1cont .perkscont .perks p {
  font-size: 10px;
  color: #515151;
  transition: all 0.3s ease-in-out;
}
.section1 .sec1cont .perkscont .perks:hover h4 {
  font-size: 25px;
}
.section1 .sec1cont .perkscont .perks:hover p {
  font-size: 14px;
}

.section2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  margin: auto;
  margin-top: 2.5em;
  padding: 0 1rem;
}
.section2 h1 {
  text-transform: uppercase;
  color: #3e2f5b;
  font-size: 28px;
  margin-bottom: 0.25rem;
}
.section2 hr {
  width: 105px;
  margin: auto;
  border: 0.01rem solid #3e2f5b;
  margin-bottom: 2rem;
}
.section2 form {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
}
.section2 form div {
  display: flex;
  flex-direction: column;
  position: relative;
}
.section2 form input:nth-child(1),
.section2 form input:nth-child(2),
.section2 form input:nth-child(3), .section2 form textarea {
  padding: 1rem 1rem;
  margin: 2rem 1rem;
}
.section2 form input,
.section2 form textarea {
  resize: none;
  font-size: 17px;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 0;
  border: none;
  border-bottom: 0.1px solid #bdbdbd;
  transition: 0.2s ease-in;
}
.section2 form label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.section2 form label[for=name], .section2 form label[for=email] {
  top: 55%;
  left: 3%;
}
.section2 form label[for=comment] {
  bottom: 15%;
  left: 3%;
}
.section2 form .name:not(:-moz-placeholder-shown).name:not(:focus) ~ .nameT, .section2 form .email:not(:-moz-placeholder-shown).email:not(:focus) ~ .emailT {
  top: 25%;
  left: 3%;
  font-size: 0.6rem;
}
.section2 form .name:not(:-ms-input-placeholder).name:not(:focus) ~ .nameT, .section2 form .email:not(:-ms-input-placeholder).email:not(:focus) ~ .emailT {
  top: 25%;
  left: 3%;
  font-size: 0.6rem;
}
.section2 form .name:focus ~ .nameT, .section2 form .name:not(:placeholder-shown).name:not(:focus) ~ .nameT,
.section2 form .email:focus ~ .emailT, .section2 form .email:not(:placeholder-shown).email:not(:focus) ~ .emailT {
  top: 25%;
  left: 3%;
  font-size: 0.6rem;
}
.section2 form .comment:not(:-moz-placeholder-shown).comment:not(:focus) ~ .commentT {
  top: 0%;
  font-size: 0.6rem;
}
.section2 form .comment:not(:-ms-input-placeholder).comment:not(:focus) ~ .commentT {
  top: 0%;
  font-size: 0.6rem;
}
.section2 form .comment:focus ~ .commentT, .section2 form .comment:not(:placeholder-shown).comment:not(:focus) ~ .commentT {
  top: 0%;
  font-size: 0.6rem;
}
.section2 form input[type=submit] {
  border: none;
  padding: 0.7rem 0;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #252c2f;
  background: #f5c500;
  transition: 0.5s ease-in-out;
}
.section2 form input[type=submit]:hover {
  background: #252c2f;
  color: #f5c500;
}
.section2 form input:hover,
.section2 form textarea:hover {
  border-bottom: 0.2px solid #00ca9e;
}
.section2 form input:focus,
.section2 form textarea:focus {
  outline: none;
  border-bottom: 0.2px solid #4778ff;
}
.section2 .onsub {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
  background: #f5c500;
  padding: 7rem 0.25rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}
.section2 .onsub h2 {
  font-size: 17px;
  text-transform: uppercase;
  color: #000f08;
}
.section2 .onsub p {
  font-size: 15px;
  margin-top: 0.7rem;
  color: rgba(35, 37, 36, 0.7803921569);
}
.section2 .rightsec2 {
  display: none;
  visibility: hidden;
}

.section3 {
  text-align: center;
  background: #f34213;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0%, 50% 7%);
          clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0%, 50% 7%);
}
.section3 .container {
  max-width: 1150px;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  color: #efefef;
}
.section3 .container h1 {
  padding-top: 8rem;
  text-transform: uppercase;
  color: #efefef;
}
.section3 .container hr {
  width: 70px;
  margin: auto;
  margin-bottom: 2rem;
}
.section3 .container .leftsec3 .avatar {
  max-width: 50%;
}
.section3 .container .leftsec3 .icons {
  max-width: 100px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  z-index: 1000;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.section3 .container .leftsec3 .icons img {
  display: flex;
  align-items: center;
  height: 22px;
}
.section3 .container .leftsec3 p {
  display: flex;
  align-items: center;
}
.section3 .container .rightsec3 {
  color: #efefef;
  margin-bottom: 2rem;
}
.section3 .container .rightsec3 p {
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

@media only screen and (min-width: 600px) {
  .hero {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .hero .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .hero .container .left {
    padding-right: 4rem;
    text-align: left;
    max-width: 51vw;
  }
  .hero .container .left p:nth-child(1) {
    font-size: 12px;
    letter-spacing: 0.15rem;
  }
  .hero .container .left h1 {
    font-size: 35px;
  }
  .hero .container .left p:nth-child(3) {
    font-size: 12px;
  }
  .hero .container .left a {
    font-size: 12px;
  }
  .hero .container .right {
    align-items: center;
    padding-right: 1rem;
    position: relative;
  }
  .hero .container .right img {
    position: absolute;
    display: block;
    visibility: visible;
    max-height: 230px;
    z-index: -1;
  }
  .hero .container .right img:nth-child(1) {
    right: 30%;
    bottom: 20%;
  }
  .hero .container .right img:nth-child(2) {
    right: 40%;
    top: 19%;
  }
  .hero .container .right .list {
    max-width: 20vw;
    border-radius: 30px;
  }
  .hero .container .right .list .listitems {
    font-size: 0.8rem;
  }
  .hero .container .right .list hr {
    max-width: 2rem;
  }
  .hero .container .right .list p {
    font-size: 0.5rem;
    padding: 0.2rem 0;
  }

  .section1 .sec1cont h1 {
    text-align: right;
  }
  .section1 .sec1cont hr:nth-child(2) {
    margin-right: 10px;
  }
  .section1 .sec1cont .perkscont {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
  }
  .section1 .sec1cont .perkscont .perks {
    max-width: 25vw;
    padding: 2rem 1rem;
    border-radius: 30px;
  }
}
@media only screen and (min-width: 870px) {
  .hero .container .left p:nth-child(1) {
    letter-spacing: 0.3rem;
  }
  .hero .container .left h1 {
    font-size: 43px;
  }
  .hero .container .left p:nth-child(3) {
    font-size: 12px;
    max-width: 90%;
  }
  .hero .container .left a {
    font-size: 16px;
  }
  .hero .container .right img {
    max-height: 300px;
  }
  .hero .container .right img:nth-child(1) {
    right: 10%;
    bottom: 40%;
  }
  .hero .container .right img:nth-child(2) {
    right: 29%;
    top: 30%;
  }
  .hero .container .right .list {
    position: relative;
    right: -30%;
    max-width: 25vw;
  }
  .hero .container .right .list .listitems {
    font-size: 0.8rem;
  }
  .hero .container .right .list hr {
    max-width: 2rem;
  }
  .hero .container .right .list p {
    font-size: 0.7rem;
    padding: 0.4rem 0;
  }

  .section1 .sec1cont h1 {
    font-size: 42px;
  }
  .section1 .sec1cont .perkscont {
    padding: 5rem 0;
  }
  .section1 .sec1cont .perkscont .perks {
    max-width: 239px;
    padding: 5rem 1rem;
  }
  .section1 .sec1cont .perkscont .perks h4 {
    font-size: 20px;
  }
  .section1 .sec1cont .perkscont .perks p {
    font-size: 12px;
  }

  .section2 h1 {
    font-size: 42px;
    text-align: left;
  }
  .section2 hr {
    margin: 0;
  }
  .section2 .container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
  }
  .section2 .container .leftsec2 {
    min-width: 55%;
  }
  .section2 .container .leftsec2 form input:nth-child(1),
.section2 .container .leftsec2 form input:nth-child(2),
.section2 .container .leftsec2 form input:nth-child(3), .section2 .container .leftsec2 form textarea {
    padding: 1rem 1rem;
    margin: 2rem 1rem;
  }
  .section2 .container .leftsec2 form .comment:not(:-moz-placeholder-shown).comment:not(:focus) ~ .commentT {
    top: 10%;
    font-size: 0.6rem;
  }
  .section2 .container .leftsec2 form .comment:not(:-ms-input-placeholder).comment:not(:focus) ~ .commentT {
    top: 10%;
    font-size: 0.6rem;
  }
  .section2 .container .leftsec2 form .comment:focus ~ .commentT, .section2 .container .leftsec2 form .comment:not(:placeholder-shown).comment:not(:focus) ~ .commentT {
    top: 10%;
    font-size: 0.6rem;
  }
  .section2 .container .leftsec2 .onsub h2 {
    font-size: 20px;
  }
  .section2 .container .leftsec2 .onsub p {
    font-size: 17px;
  }
  .section2 .container .rightsec2 {
    display: block;
    visibility: visible;
  }

  .section3 {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0%, 50% 20%);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0%, 50% 20%);
  }
  .section3 .container h1 {
    padding-top: 12rem;
    font-size: 42px;
  }
  .section3 .container .subcont {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
  }
  .section3 .container .subcont .leftsec3 {
    min-width: 40%;
  }
  .section3 .container .subcont .rightsec3 {
    text-align: left;
  }
}/*# sourceMappingURL=Landing.module.css.map */